<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991332688559-r05a6a9kgk20eqle1ho3l1qe856qqcs2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991332688559-r05a6a9kgk20eqle1ho3l1qe856qqcs2</string>
	<key>API_KEY</key>
	<string>AIzaSyBPqrdf1nGCEoTc_fS0EWfNS1Tq1XmXKU0</string>
	<key>GCM_SENDER_ID</key>
	<string>991332688559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itufuturz.happyhearts</string>
	<key>PROJECT_ID</key>
	<string>happyhearts-aed0a</string>
	<key>STORAGE_BUCKET</key>
	<string>happyhearts-aed0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991332688559:ios:46d72e25fc8330bdc9ea5a</string>
</dict>
</plist>